env
.env

backend/venv
backend/__pycache__
backend/node_modules
backend/dist
backend/build
backend/.env

frontend/node_modules
frontend/dist
frontend/build
frontend/.env
frontend/.next
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local  


backend/admin-sdk.json

frontend/env.local
